.container {
 padding: 20px;
 max-width: 500px;
 margin: 0 auto;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.heading {
 font-size: 22px;
 margin-bottom: 15px;
}

.details {
 line-height: 1.6;
}

.verified {
 color: green;
 font-weight: bold;
}

.notVerified {
 color: red;
 font-weight: bold;
}