.card {
 border: 1px solid #ccc;
 padding: 15px;
 border-radius: 8px;
 margin-bottom: 10px;
 background-color: #f9f9f9;
}

.name {
 font-size: 18px;
 font-weight: bold;
}

.status {
 font-size: 14px;
}

.verified {
 color: green;
 font-weight: bold;
}

.notVerified {
 color: red;
 font-weight: bold;
}